.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 200vh;
    background: linear-gradient(to bottom right, #007c72, #fbb03b); /* Turquoise to orange gradient */
}

.login-card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.login-logo {
    width: 190px;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #007c72; /* Turquoise text for branding */
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
}

form .error-message {
    color: red;
    margin: 5px 0;
    font-size: 0.9rem;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fbb03b; /* Orange button */
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #d78925; /* Slightly darker orange on hover */
}

.spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #007c72; /* Turquoise spinner */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
